

*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
    box-sizing: border-box;
}
body{
	font-family: sans-serif;
	background-image:url(../img/c_p5.jpg);
	background-size:cover;
	
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
}
.nave label {
    font-size: 61px;
    display: flex;
    justify-content: center;
    color: #fff	;
    text-shadow: 0 3px 0 #000;
    
    

}
.ini label:hover{
    color:darkslateblue;
}
.h label:hover{
    color:darkred;
}
.pc label:hover{
    color:rosybrown;
}
.doc label:hover{
    color: darkseagreen;
}
.c label:hover{
    color:darkgray;
}


.title{
	width: 100%;
	background: rgba(2, 2, 2, 0.9);
	height: 100px;
	display: flex;
	align-items: center;
	
}
.title h1{
	color:#fff;
	font-size: 34px;
	font-weight: 700;
    text-align: center; 
    text-shadow: 0 4px 0 #000;
}
.title h1:hover{
	color:#B2DFDB;
	
}
.nave{
	width: 100%;
	background: #000;
	display: flex;
    justify-content: center;
    
}
.menu{
	width: 1000px;
	display: flex;
	flex-wrap: wrap;
	
	height: 67px;
}
.menu li{
	flex-basis: 0;
	flex-grow: 1;
	border-right: 1px solid #363636;
    position: relative;
    
    

}
.menu .first-item{
    border-left: 1px solid #363636;
    
}
.menu li a{
	display: flex;
	flex-direction: column;
    font-size: 18px;
    
}

.menu li a .text-item{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #000;
	text-shadow:0 0 1px #000;
    top: 0%;
	font-size:19px;

	-webkit-transition:0.4s ease;
	-o-transition:0.4s ease;
	transition: 0.4s ease;


	position: absolute;
	z-index: 10;
}
.menu li a .down-item{
	position: absolute;
	top: 0%;
	width: 100%;
	height: 100%;
    background: #4DD0E1;
    

	-webkit-transition:0.4s ease;
	-o-transition:0.4s ease;
	transition: 0.4s ease;
}
.menu li:hover .down-item, .menu li:hover .text-item{
    top: 100%;
	height: 107%;

	border-radius: 7px;

}
.menu li:active .down-item, .menu li:active .text-item{
	background:#607D8B;

}

.container{
	position: relative;
	display: flex;
	justify-content: center;
    width: 480px;
    height: 50px;
    color:#000;
    font-size: 50px;
    line-height: 50px;
    top: 177px;
    right: 0;
    bottom: 0;
    left: 60px;
    margin: auto;
	overflow: hidden;
	text-shadow: 0 2px 0  #4DD0E1;
	font-weight: 600;

    
    
}
.letter {
	list-style: none;
    padding-left: 10px;
    animation: cambiar 7s infinite;

}
.container ul, p{
    margin: 0;
}
@keyframes cambiar{
    0%{margin-top: 0;}
    20%{margin-top: 0;}

    25%{margin-top: -50px;}
    50%{margin-top: -50px;}

    55%{margin-top: -100px;}
    80%{margin-top: -100px;}

    85%{margin-top:-50px;}
    95%{margin-top: -50px;}
    100%{margin-top: 0px ;}
}





