h2{
    color:#fff;
    margin-left:732px;
    margin-bottom: 10px;
}
.ad a{
    margin-left:737px;
    text-decoration:none;
    color:#fff;
    font-size: 18px;
}
.ad a:hover{
    text-shadow: 0 0 2px;

}
.ad a:active{
    color:#4DD0E1;
    text-shadow: 0 0 2px;

}
