*{
    font-family: sans-serif;
}
body{

	background-image:url(../img/fnd.jpeg);
	background-size:cover;
}
.content{
    background: rgba(0,0,0,.7);
    width: 350px;
	height: 350px;
	top: 50%;
	left: 50%;
    color: #fff;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 40px 40px;
}
.content h2{
    background: #000;
    margin: 0;
    padding:  15px;

    text-shadow: 0 0 2px #4DD0E1;
	text-align: center;
    
}
.content input{
	width: 100%;
	margin-bottom: 20px;
    height: 30px;
    
}
.content label{
    margin: 0;
	padding: 0;
    display: block;
    font-weight: bold;
    text-shadow: 0 0 2px #4DD0E1;
    margin-top: 10px;
}
.content input[type="text"]{
    outline: none;
    border:none;
    font-size:16px;
    border-radius: 5px;
    border-bottom: 3px  solid #4DD0E1;
    transition: all 0.3s ease;

}
.content input[type="password"]{

    outline: none;
    border:none;
    font-size:16px;
    border-radius: 5px;
    border-bottom: 3px  solid #4DD0E1;
    transition: all 0.3s ease;
    

}
.content input[type="submit"]{

    outline: none;
    border:none;
    font-weight: bold;
    height: 37px;
    font-size: 16px;
    border-radius: 5px;
    background: #000;
    color:#fff;
    text-shadow: 0 0 2px #4DD0E1;
    transition: all 0.4s ease;
    border-bottom: 3px  solid #4DD0E1;
    margin-top: 10px;

}
.content input[type="text"]:hover,.content input[type="password"]:hover{
    border-bottom: 3px  solid #000;

}
.content input[type="submit"]:hover{
    background: #4DD0E1;
    color:#000;
    text-shadow: 0 0 2px #000;
    border-bottom: 3px  solid #000;
}

#msj1,#msj2{
    background-color: #FF9185;
    font-size: 14px;
    color:darkred;
    margin-top:-12px;
    font-weight: bold;
    text-align: center;

}
