.tab{
    margin-top:-47px;
    margin-left: 10px;
    background: #000;
    width: 223px;
    height: 63px;
    border-radius: 5px;
    border-bottom: 2px solid #4DD0E1;
}

.tab h2{

    color:#fff;
    margin:5px;
    margin-bottom: 10px;
    
}
.tab a{
    margin-left:10px;
    text-decoration:none;
    color:#fff;
    font-size: 18px;
}
.tab a:hover{
    text-shadow: 0 0 2px;

}
. a:active{
    color:#4DD0E1;
    text-shadow: 0 0 2px;

}
