@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?xuvyl3');
  src:  url('fonts/icomoon.eot?xuvyl3#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?xuvyl3') format('truetype'),
    url('fonts/icomoon.woff?xuvyl3') format('woff'),
    url('fonts/icomoon.svg?xuvyl3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-notebook-list:before {
  content: "\e901";
}
.icon-notebook:before {
  content: "\e902";
}
.icon-notebook1:before {
  content: "\e903";
}
.icon-book:before {
  content: "\e904";
}
.icon-book1:before {
  content: "\e906";
}
.icon-book2:before {
  content: "\e907";
}
.icon-injection:before {
  content: "\e908";
}
.icon-pil:before {
  content: "\e909";
}
.icon-health:before {
  content: "\e90a";
}
.icon-local_hospital:before {
  content: "\e90b";
}
.icon-hospital-o:before {
  content: "\e90c";
}
.icon-home:before {
  content: "\e900";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-clock:before {
  content: "\e94e";
}
.icon-clock2:before {
  content: "\e94f";
}
.icon-user:before {
  content: "\e971";
}
.icon-user-plus:before {
  content: "\e973";
}
.icon-user-check:before {
  content: "\e975";
}
.icon-user-tie:before {
  content: "\e976";
}
.icon-search:before {
  content: "\e986";
}
.icon-key:before {
  content: "\e98d";
}
.icon-unlocked:before {
  content: "\e990";
}
.icon-aid-kit:before {
  content: "\e998";
}
.icon-switch:before {
  content: "\e9b6";
}
.icon-clipboard:before {
  content: "\e9b8";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-eye-blocked:before {
  content: "\e9d1";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-paragraph-justify:before {
  content: "\ea7a";
}
